@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .wrapper {
    @apply max-w-[1440px] relative;
  }
  .flxColCenter {
    @apply flex flex-col items-center;
  }

  .flxRowCenter {
    @apply flex flex-row items-center;
  }

  .flxRowStart {
    @apply flex flex-row justify-start;
  }

  .flxBtw {
    @apply flex justify-between;
  }

  .flxColStart {
    @apply flex flex-col items-start;
  }

  .nav-items {
    @apply flxColCenter hover:bg-blue-900 h-full max-md:py-[0.5rem] md:py-3 font-[500] px-2 text-nowrap;
  }

  .yellowBg {
    @apply bg-yellow-600;
  }

  .primaryBg {
    @apply bg-[#0a4c86ea];
  }

  .details-text {
    @apply text-sm text-black/60 font-[500];
  }

  .form-fields {
    @apply flxColStart w-full relative;
  }

  .form-input {
    @apply border-[1px] w-full;
  }

  .form-field-wrapper {
    @apply px-5 w-full flxColStart gap-5 pt-5;
  }

  .form-error {
    @apply text-xs text-red-500 absolute top-[100%] font-bold leading-[0.7];
  }

  .post-label {
    @apply details-text flex-1;
  }
}

* {
  font-family: "Quicksand", sans-serif;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

.required-field::before {
  content: "*";
  color: red;
  position: absolute;
  left: 100%;
}

label {
  position: relative;
}
